$fa-font-path: "/bower_components/font-awesome/fonts";

@import "bootstrap-sass/lib/bootstrap";
@import "font-awesome/scss/font-awesome";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.navbar {
  margin-top: 20px;
  ul.nav {
    display: inline-flex;
  }
}

.shot .title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.stats {
  background: #CCC;
  opacity: 0.5;
  text-align: center;
  padding: 4px 0;
  .stat {
    padding: 5px;
  }
}

.shot_image {
  width: 100%;
}

.shot_header {
  margin-bottom: 20px;
  h1 {
    font-size: 24px;
    line-height: 1;
    margin-top: 5px;
  }
  img {
    height: 60px;
  }
}

.comment img {
  height: 60px;
  width: 60px;
}